/*
 * Variables
 */

:root {
  --primary-bg-color: rgba(18, 115, 15,1);
  --secondary-bg-color: rgba(9, 121, 59,1);
  --tertiary-bg-color: rgba(84, 15, 132);
  --medium-green: #079247;
  --light-green: #01ed72;
  --pink: #db134b;
}

/*
 * General
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
}

body {
  background: var(--primary-bg-color);
  background: linear-gradient(90deg, var(--primary-bg-color) 0%, var(--secondary-bg-color) 20%, var(--tertiary-bg-color) 100%);
}

/*
 * Layout
 */

#container {
  background: linear-gradient(brown, orange, to right);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

@media only screen and (min-width: 600px) {
  #container {
    padding: 10px 30px;
  }
}

/*
 * Title
 */

h1 {
  position: relative;
  font-size: 3rem;
  color: #fff;
  margin: 15px;
  padding: 5px;
  text-align: center;
  letter-spacing: -2px;
  text-shadow: 0 2px #222;
}

@media only screen and (min-width: 600px) {
  h1 {
    background-color: #17f4df3b;
  }

  h1::before {
    position: absolute;
    z-index: -1;
    display: inline-block;
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--medium-green);
    transform: skewY(5deg);
  }
}

/*
* Message
*/

#message {
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px 0;
  font-size: 1.5rem;
  border-bottom: 5px dotted var(--light-green);

}

/*
 * Chess Board
 */

#board {
  display: block;
  border: 10px solid #8c2f2f;
  box-shadow: 2px 8px 18px rgba(0, 0, 0, 0.8);
  cursor: cell;
}

#board tr:nth-child(odd) .square:nth-child(even) {
  background: #fff;
}

#board tr:nth-child(odd) .square:nth-child(odd) {
  background: #222;
}

#board tr:nth-child(even) .square:nth-child(odd) {
  background: #fff;
}

#board tr:nth-child(even) .square:nth-child(even) {
  background: #222;
}

#board tr .square {
  height: 40px;
  width: 40px;
  text-align: center;
  transition: all 0.2s ease-in;
}

#board tr .square img {
  max-height: 30px;
  max-width: 30px;
}

#board tr .square.start {
  background: #35c135 !important;
  color: #fff;
}

#board tr .square.end {
  background: #9dce31 !important;
}

#board tr .square.active {
  background: #fff4c9 !important
}

/*
 * Reset Button
 */

#reset {
  margin-top: 20px;
  border: none;
  padding: 10px 20px;
  background-color: var(--pink);
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px #222;
  font-size: 1.1rem;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

@media (hover: hover) {
  #reset:hover {
    transform: translateY(-5%);
  }

  #reset:active {
    transform: translateY(0);
  }
}
